<footer class="text-white py-2" id="footer" style="background-color:#ecedda;">
  <div class="relative container mx-auto px-4">
    
    <!-- Join Button with Image Placeholder -->
    <div class="absolute top-0 right-0 flex items-center space-x-8 px-16 md:px-24 z-10">
      <a href="#"
         class="w-36 h-8 flex items-center justify-center rounded-full bg-primary hover:bg-primary transition-colors"
         data-translate="subscribe">
        Join our Community
      </a>
      
    </div>
    <div class="absolute top-0 right-0 flex items-center">
      <!-- Placeholder for the pointing girl image -->
      <img src="/static/media/footer/image.png" alt="Girl pointing" class="object-contain w-24 md:w-36" />
    </div>

    <!-- Main Footer Content -->
    <div class="pt-10 grid grid-cols-2 md:grid-cols-4 gap-8">
      <div>
        <p class="flex justify-between  items-start text-gray-800 mb-4" data-translate="footer_desc">Follow us</p>
        <div class="flex space-x-4">
          <a href="https://www.facebook.com/UnlockMyPotential/" target="_blank"
             class="w-8 h-8 flex items-center justify-center rounded-full bg-gray-800 hover:bg-primary transition-colors">
            <i class="ri-facebook-fill"></i>
          </a>
          <a href="https://twitter.com/alohomora_edu" target="_blank"
             class="w-8 h-8 flex items-center justify-center rounded-full bg-gray-800 hover:bg-primary transition-colors">
            <i class="ri-twitter-fill"></i>
          </a>
          <a href="https://www.instagram.com/alohomora_education/?hl=en" target="_blank"
             class="w-8 h-8 flex items-center justify-center rounded-full bg-gray-800 hover:bg-primary transition-colors">
            <i class="ri-instagram-fill"></i>
          </a>
          <a href="https://www.linkedin.com/company/alohomora-education/" target="_blank"
             class="w-8 h-8 flex items-center justify-center rounded-full bg-gray-800 hover:bg-primary transition-colors">
            <i class="ri-linkedin-fill"></i>
          </a>
          <a href="https://www.youtube.com/c/AlohomoraEducationCareerShala/featured" target="_blank"
             class="w-8 h-8 flex items-center justify-center rounded-full bg-gray-800 hover:bg-primary transition-colors">
            <i class="ri-youtube-fill"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="border-t border-gray-800 mt-12 pt-6 flex flex-col items-center">
      <p class="text-gray-400 text-sm text-center" data-translate="copyright">
        © 2025 अलोहोमोरा फाउंडेशन। सर्वाधिकार सुरक्षित।
      </p>
    </div>
  </div>
</footer>