<!DOCTYPE html>
<html lang="hi">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CareerShala - Alohomora Foundation</title>
        <!-- <link href="{{ url_for('static', filename='css/tailwind-output.css') }}" rel="stylesheet"> -->


        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css" />
        <script src="https://cdn.tailwindcss.com/3.4.16"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            primary: "#f7a90b",
                            secondary: "#f9f6ee",
                            accent1: "#eef8eb",
                            accent2: "#6C63FF",
                            accent3: "#8c6a51",
                            accent4: "#9C2A2B",
                        },
                        borderRadius: {
                            none: "0px",
                            sm: "4px",
                            DEFAULT: "8px",
                            md: "12px",
                            lg: "16px",
                            xl: "20px",
                            "2xl": "24px",
                            "3xl": "32px",
                            full: "9999px",
                            button: "8px",
                        },
                    },
                },
            };
        </script>
</head>
<body>
    <!-- Header -->
        {% include 'header.html' %}
    <section class="py-48">
        <div class="text-2xl font-bold text-center">
            self exploration Page
        </div>
    </section>
    <!-- footer  -->
     {% include 'footer.html' %}
</body>
</html>